@import "variables";

@mixin hover-transform {
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.2);
        color: $secundary-font-color;
    }

    &:focus {
        color: $secundary-font-color;
    }
}

@mixin underline-animation {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secundary-font-color;
        transition: transform 0.25s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}