@import "variables";
@import "mixins";

.grid {
    display: grid;
    margin: 0 20%;
    grid-template-columns: 50% 5% 45%;
    grid-template-rows: minmax(10%, auto);

    .element1 {
        justify-self: end;
        margin-right: 160px;
        margin-top: 50px;

        .arrow {
            position: absolute;
        }
    }

    .element2 {
        grid-row: 2/4;
        background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, $navbar-color 80%, $background-color 100%);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .element3 {
        grid-column: 2/4;
        font-size: 20pt;
        margin-top: 20px;

        .name {
            text-decoration: none;
            color: $secundary-font-color;
            @include underline-animation
        }
    }

    .element4 {
        grid-column: 3/4;
        grid-row: 2/4;
        display: grid;
        grid-template-rows: auto;

        .nestedElement1 {
            font-size: 18pt;
            align-self: flex-end;
            margin-top: 80px;
        }

        .nestedElement2 {
            font-size: 35pt;
            margin: 0;

            .text {
                text-decoration: none;
                color: $secundary-font-color;
                @include underline-animation
            }
        }

        .nestedElement3 {
            font-size: 12pt;
            margin-bottom: 170px;
        }
    }
}